.material-loading-circle-holder{
    position: absolute;
    top: -5px;
    left: 0px;
    width: 100%;
    z-index: 900;
    transition: top 0.3s, opacity 0.3s;
    pointer-events:none;
    opacity: 0;
}
.material-loading-circle-holder-visible{
    top: 60px !important;
    opacity: 1;
}
.material-loading-circle{
    background-color: #fff;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.material-loading-inner-circle{
    background-color: #3f51b5;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 8px;
    left: 8px;
    border-radius: 50%;
    -webkit-animation: material-loading-color-anim 6s steps(1,start) 0.9s infinite normal forwards;
    animation: material-loading-color-anim 6s steps(1,start) 0.9s infinite normal forwards;
}

.material-loading-circle-container {
    top: 5px;
    left: 5px;
    height: 38px;
    width: 38px;
    position: absolute;
    transform-origin: 50% 50%;
    -webkit-animation: material-loading-anim 2s linear 0s infinite normal forwards;
    animation: material-loading-anim 2s linear 0s infinite normal forwards;
}

.material-loading-circle-pie {
    position: absolute;
    width: 38px;
    height: 38px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    clip: rect(0px, 19px, 38px, 0px);
}
.material-loading-circle-hold {
    position: absolute;
    width: 38px;
    height: 38px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    clip: rect(0px, 38px, 38px, 19px);
}

#material-loading-circle-first {
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
}

#material-loading-circle-first .material-loading-circle-pie {
    background-color: rgba(255, 0, 0, 0.5);
    background-color: #fff;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-animation: material-loading-semicircle-anim 1.5s ease-in 0s infinite normal forwards;
    animation: material-loading-semicircle-anim 1.5s ease-in 0s infinite normal forwards;
}
#material-loading-circle-last {
    -webkit-transform:rotate(170deg);
    -moz-transform:rotate(170deg);
    -o-transform:rotate(170deg);
    transform:rotate(170deg);
}
#material-loading-circle-last .material-loading-circle-pie {
    background-color: rgba(0, 255, 0, 0.5);
    background-color: #fff;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-animation: material-loading-semicircle-anim 1.5s ease-out 0.375s infinite normal forwards;
    animation: material-loading-semicircle-anim 1.5s ease-out 0.375s infinite normal forwards;
}

#material-loading-cover {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 7px;
    left: 7px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1000;
}

#material-loading-slice-cover {
    -webkit-transform:rotate(-25deg);
    -moz-transform:rotate(-25deg);
    -o-transform:rotate(-25deg);
    transform:rotate(-25deg);
}
#material-loading-slice-cover .material-loading-circle-pie {
    width: 38px;
    height: 38px;
    background-color: #fff;
    -webkit-transform:rotate(50deg);
    -moz-transform:rotate(50deg);
    -o-transform:rotate(50deg);
    transform:rotate(50deg);
    clip: rect(0px, 19px, 38px, 0px);
}

@keyframes material-loading-semicircle-anim{
    0% {transform:rotate(0deg);}
    25% {transform:rotate(180deg);}
    50% {transform:rotate(180deg);}
    75% {transform:rotate(360deg);}
    100% {transform:rotate(360deg);}
}

@keyframes material-loading-anim{
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

@keyframes material-loading-color-anim{
    0% {background-color: #5677fc;}
    25% {background-color: #e51c23;}
    50% {background-color: #ff9800;}
    75% {background-color: #259b24;}
}

@-webkit-keyframes material-loading-semicircle-anim{
    0% {transform:rotate(0deg);}
    25% {transform:rotate(180deg);}
    50% {transform:rotate(180deg);}
    75% {transform:rotate(360deg);}
    100% {transform:rotate(360deg);}
}

@-webkit-keyframes material-loading-anim{
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

@-webkit-keyframes material-loading-color-anim{
    0% {background-color: #5677fc;}
    25% {background-color: #e51c23;}
    50% {background-color: #ff9800;}
    75% {background-color: #259b24;}
}

/* LEVELING */
.material-z1, .material-raised[data-z="1"]{
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
}

.material-z1::before, .material-raised[data-z="1"]::before{
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
}