@mixin transform($transform) {
  -webkit-transform: unquote($transform);
  transform: unquote($transform);
}

@mixin transition($transition) {
  @if str-index($transition, "transform") {
    -webkit-transition: unquote(str-insert($transition, "-webkit-", str-index($transition, "transform")));
  } @else {
    -webkit-transition: unquote($transition);
  }
  transition: unquote($transition);
}

@import url(https://fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&subset=latin,latin-ext);
/*@import "material-loading-bar.css";*/
@import "colors";
@import "material-loading-circle.css";
@import "md-icon-font.css";

* {
  font-family: 'RobotoDraft', sans-serif;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* LEVELING */
.material-raised {
  @include transition("box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s");
  position: relative;
}

.material-raised::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  @include transition("box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s");
  position: absolute;
  top: 0px;
  left: 0px;
}

.material-z0 {
  box-shadow: none;
}

.material-z1, .material-raised[data-z="1"], *[data-z="1"] {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.material-z1::before, .material-raised[data-z="1"]::before, *[data-z="1"]::before {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
}

.material-z2, .material-raised[data-z="2"], *[data-z="2"] {
  box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2);
}

.material-z2::before, .material-raised[data-z="2"]::before, *[data-z="2"]::before {
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.material-z3, .material-raised[data-z="3"], *[data-z="3"] {
  box-shadow: 0px 17px 50px 0px rgba(0, 0, 0, 0.19);
}

.material-z3::before, .material-raised[data-z="3"]::before, *[data-z="3"]::before {
  box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.24);
}

.material-z4, .material-raised[data-z="4"], *[data-z="4"] {
  box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.22);
}

.material-z4::before, .material-raised[data-z="4"]::before, *[data-z="4"]::before {
  box-shadow: 0px 25px 55px 0px rgba(0, 0, 0, 0.21);
}

.material-z5, .material-raised[data-z="5"], *[data-z="5"] {
  box-shadow: 0px 27px 24px 0px rgba(0, 0, 0, 0.2);
}

.material-z5::before, .material-raised[data-z="5"]::before, *[data-z="5"]::before {
  box-shadow: 0px 40px 77px 0px rgba(0, 0, 0, 0.22);
}

/* CARDS */
.material-card {
  border-radius: 2px;
  padding: 0px;
  display: inline-block;
  background-color: #fff;
  position: relative;
}

.material-card-titlebar {
  padding: 0px 0px;
  margin: 0px 0px;
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 24px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
  @include transition("background-color 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0s");
  z-index: 10;
}

.material-card-title {
  padding: 14px 24px;
  margin-left: 0px;
  display: inline-block;
}

.material-card-nav {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  /*height: 100%;*/
  height: 56px;
  line-height: 56px !important;
  position: absolute;
  width: 56px;
  text-align: center;
  left: 0px;
  top: 0px;
  @include transition("background-color 0.5s");
}

.material-card-more {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  /*height: 100%;*/
  height: 56px;
  line-height: 56px !important;
  position: absolute;
  width: 56px;
  text-align: center;
  right: 0px;
  top: 0px;
  @include transition("background-color 0.5s");
  display: none !important;
}

.material-card-more-active {
  display: block !important;
}

.material-card-nav ~ .material-card-title {
  margin-left: 42px;
}

.material-card-nav:hover {
  background-color: rgba(255, 255, 255, 0.24);
}

.material-card-more:hover {
  background-color: rgba(255, 255, 255, 0.24);
}

.material-card-content {
  width: 100%;
  padding: 24px;
  margin: 0px 0px;
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
}

/* SLIDING MENU */
.material-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0);
  display: block;
  @include transition("background-color 0.5s");
}

.material-slider-bar {
  width: 300px;
  height: 100%;
  z-index: 100;
  display: block;
  background-color: #fff;
  position: fixed;
  left: -300px;
  top: 0px;
  @include transition("left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1)");
  overflow: auto;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.material-slider-open {
  background-color: rgba(0, 0, 0, 0.6) !important;
  z-index: 101 !important;
}

.material-slider-open > .material-slider-bar {
  left: 0px !important;
}

.material-slider-bar-title {
  width: 100%;
  height: 100px;
  background-image: url(../images/menu_slider_title.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  padding: 10px;
}

.material-slider-bar-title-name {
  font-weight: bold;
}

.material-slider-bar-title-mail {
  font-weight: normal;
}

.material-slider-bar-menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.material-slider-bar-menu > li {
  padding: 0px;
  margin: 0px;
}

.material-slider-bar-menu > li.separator {
  border-top: 1px solid #e3e3e3;
  margin-top: 5px;
  margin-bottom: 6px;
}

.material-slider-bar-menu > li.separator:not([data-label=''])[data-label]::after {
  content: attr(data-label);
  color: #aaa;
  font-size: 12px;
  font-weight: normal;
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 0px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.material-slider-bar-menu > li a {
  padding-left: 16px;
  padding-right: 8px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  @include transition("background-color 0.4s");
  font-size: 14px;
  color: #7d7d7d;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.material-slider-bar-menu > li > a > .fa {
  width: 56px;
  font-size: 18px;
}

.material-slider-bar-menu > li a:hover {
  background-color: #ccc;
}

/* INPUT */
input, div[contenteditable="true"], .material-input-dropdown {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  font-size: 16px;
  margin: 8px 0 16px;
  @include transition("border-bottom-color 0.5s");
  width: 200px;
  outline: none;
  padding-left: 1px;
}

div[contenteditable="true"] {
  min-height: 2em;
  max-height: 84px;
  overflow: auto;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.material-format-toolbar {
  position: relative;
  display: block;
  width: 100%;
  z-index: 300;
  bottom: 16px;
  height: 32px;
  background-color: white;
  //box-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
}

.material-format-toolbar > button {
  width: 32px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  padding: 0;
}

input:focus, div[contenteditable="true"]:focus {
  border-bottom: 2px solid #2196f3;
  margin-bottom: 15px;
}

input:invalid, input.invalid, div[contenteditable="true"]:invalid, div[contenteditable="true"].invalid, .material-input-dropdown.invalid {
  box-shadow: none;
  border-bottom: 2px solid #e51c23;
  margin-bottom: 15px;
}

input:disabled, div[contenteditable="true"]:disabled {
  border-color: #ccc;
  color: #9e9e9e;
  cursor: not-allowed;
  background-color: transparent;
}

.material-input-msg-error {
  position: absolute;
  left: 0;
  bottom: -24px;
  color: #e51c23;
  text-align: left;
  font-size: 12px;
  width: 100%;
  opacity: 0;
  @include transition("opacity 0.2s");
  pointer-events: none;
}

.material-input-msg-error-toolbar{
  bottom: 0 !important;
}

input:invalid + .material-input-msg-error, div[contenteditable="true"]:invalid + .material-input-msg-error {
  opacity: 1;
}

input.invalid + .material-input-msg-error, div[contenteditable="true"].invalid + .material-input-msg-error, .material-input-dropdown.invalid + .material-input-msg-error {
  opacity: 1;
}

.material-input-w-full {
  width: 100% !important;
}

.material-input-w-300 {
  width: 300px !important;
}

.material-input-w-100 {
  width: 100px !important;
}

.material-input-floating {
  position: relative;
}

.material-input-floating > input, .material-input-floating > div[contenteditable="true"] {
  margin-top: 16px;
}

.material-input-floating::after {
  content: attr(data-title);
  top: 2px;
  left: 1px;
  position: absolute;
  font-size: 16px;
  @include transition("all 0.15s");
  color: #ccc;
  pointer-events: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.material-input-floating-active::after, .material-input-floating:not([data-value=''])[data-value]::after {
  content: attr(data-title);
  top: -18px;
  font-size: 12px;
  color: #2196f3;
}

.material-input-floating-default::after {
  @include transition("color 0.5s");
  color: #999 !important;
}

/* DROPDOWN */
.material-input-dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
  min-width: 200px;
}

.material-input-dropdown:focus {
  border-bottom: 2px solid #2196f3;
  margin-bottom: 15px;
}

.material-input-dropdown-prepare {
  display: block !important;
}

.material-input-dropdown > .material-icons {
  font-weight: 100;
  color: #BDBDBD !important;
  position: absolute;
  right: 0;
}

.material-input-dropdown-value {
  margin-right: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.material-input-dropdown-value[data-value=""] {
  color: #ccc;
}

.material-input-dropdown-menu {
  /*position: absolute;*/
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  min-width: 100px;
  max-height: 200px;
  overflow-y: auto;
  text-align: left;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 20000; //2;
  outline: none;
}

.material-input-dropdown-menu-active {
  opacity: 1;
}

.material-input-dropdown-menu > div {
  padding: 12px 20px;
  background-color: #fff;
  cursor: pointer;
  @include transition("background-color 0.5s");
  outline: none;
}

.material-input-dropdown-menu > div:focus {
  background-color: #eee;
}

.material-input-dropdown-menu > div > span {
  white-space: nowrap;
}

.material-input-dropdown-menu > div:hover {
  background-color: #eee;
}

/* RADIO BUTTON */
.material-radio {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.54);
  display: inline-block;
  position: relative;
  cursor: pointer;
  @include transition("border-color 0.25s");
  outline: none;
  margin: 4px;
}

.material-radio::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #009688;
  display: inline-block;
  left: 2px;
  top: 2px;
  position: absolute;
  @include transform("scale(0)");
  @include transition("transform 0.25s");
}

.material-radio[checked] {
  border-color: #009688;
}

.material-radio[checked]::after {
  @include transform("scale(1)");
}

.material-radio[disabled] {
  border-color: rgba(0, 0, 0, 0.26);
  cursor: default;
}

.material-radio[disabled]::after {
  background-color: rgba(0, 0, 0, 0.26);
}

/* CHECKBOX */
.material-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid rgba(0, 0, 0, 0.54);
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
  outline: none;
  margin: 4px;
}

.material-checkbox[checked]:not([disabled]) {
  background-color: #009688;
  border-color: #009688;
}

.material-checkbox[disabled] {
  border-color: rgba(0, 0, 0, 0.26);
  cursor: default;
}

.material-checkbox[disabled][checked] {
  background-color: rgba(0, 0, 0, 0.26);
  border-color: transparent;
}

.material-checkbox::after {
  content: "";
  width: 10px;
  height: 5px;
  display: inline-block;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 2px;
  left: 1px;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.material-checkbox[checked]::after {
  opacity: 1;
}

/* RADIO and CHECKBOX RING */
.material-radio::before, .material-checkbox::before {
  content: "";
  position: absolute;
  top: -11px;
  left: -11px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: inline-block;
  background-color: #009688;
  z-index: 0;
  -webkit-transform: scale(0);
  -webkit-transition: -webkit-transform 0.25s;
  transform: scale(0);
  transition: transform 0.25s;
  opacity: 0.25;
}

.material-radio:not([disabled]):active::before, .material-checkbox:not([disabled]):active::before {
  -webkit-transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.material-radio[disabled]::before, .material-checkbox[disabled]::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.material-radio[data-tabbed]:focus::before, .material-checkbox[data-tabbed]:focus::before {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-animation: material-rdchk-anim 1s ease 0.25s infinite alternate;
  animation: material-rdchk-anim 1s ease 0.25s infinite alternate;
}

@-webkit-keyframes material-rdchk-anim {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes material-rdchk-anim {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* RADIO and CHECKBOX LABEL */
.material-radio + label, .material-checkbox + label {
  font-size: 16px;
  margin-left: 10px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
  @include transition("color 0.25s");
}

.material-radio[disabled] + label, .material-checkbox[disabled] + label {
  color: rgba(0, 0, 0, 0.26);
}

/* CHECKBOX */
/*.material-checkbox{
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.material-checkbox::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 16px;
    height: 16px;
    border: 2px solid #616161;
    pointer-events: none;
    transition: all 0.2s;
    display: inline-block;
}

.material-checkbox[disabled='disabled']::before{
    border-color: #9e9e9e;
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.material-checkbox-between::before{
    transform: rotate(45deg) !important;
    top: 13px !important;
    left: 5px !important;
    width: 4px !important;
    height: 4px !important;
}

.material-checkbox-checked::before{
    transform: rotate(45deg);
    top: -4px;
    left: 6px;
    width: 10px;
    height: 21px;
    border-width: medium 2px 2px medium;
    border-top: medium none #0F9D58;
    border-left: medium none #0F9D58;
    border-color: #0F9D58;
}

.material-checkbox-checked[disabled='disabled']::before{
    border-top: medium none #9e9e9e;
    border-left: medium none #9e9e9e;
    border-color: #9e9e9e;
}*/

/* BUTTONS */
button {
  border: none;
  padding: 0.7em 0.57em;
  margin: 0px 0.29em;
  transition: background-color 0.5s;
  font-size: 14px;
  font-weight: 400;
  font-variant: normal;
  font-stretch: normal;
  font-style: normal;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  border-radius: 2px;
}

button:active {
  outline: none;
}

button[type=submit] {
  color: #4285F4;
}

button[type=submit]:active {
  background-color: #C8DBFB;
  transition: background-color 0.1s;
}

button:not([type=submit]) {
  color: #000;
}

button:not([type=submit]):active {
  background-color: #999;
  transition: background-color 0.1s;
}

button.material-bg-green {
  background-color: #4caf50;
  color: #fff;
}

button.material-bg-green:active {
  background-color: #2e7d32;
  transition: background-color 0.1s;
}

button:disabled {
  background-color: #eaeaea !important;
  color: #a8a8a8 !important;
}

/* FLOATING BUTTONS */
.material-floating-btn {
  /*top: -100px;*/
  bottom: -28px;
  right: 200px;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  position: absolute;
  z-index: 12;
  text-align: center;
  font-size: 0px;
  line-height: 56px;
  cursor: pointer;
  transform: scale(0);
  -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s, transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s, transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.material-floating-btn-enabled {
  transform: scale(1);
}

.material-floating-btn:active {
  /*box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.material-floating-btn:active::before {
  /*box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.19);*/
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
}

.material-floating-btn > * {
  font-size: 18px !important;
  line-height: 56px !important;
}

/* DIALOG */
.material-dialog-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 110;
  text-align: center;
  /* TODO ezt kivenni? */
  display: none;
}

.material-dialog-container {
  text-align: left;
  padding: 0px;
  display: inline-block;
  font-size: 14px;
  position: relative;
  max-width: 60vw;
  min-width: 500px;
  max-height: 70vh;
  top: 50px;
  color: #000;
  opacity: 0;
  @include transform("scale(0.9)");
  @include transition("all 0.2s");
}

.material-dialog-container-active {
  opacity: 1;
  @include transform("initial");
}

.material-dialog-container-flex {
  position: relative;
  max-width: 60vw;
  min-width: 500px;
  width: 100%;
  max-height: 70vh;
  padding: 24px 0px 12px;
  /* flexbox */
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.material-dialog-container-no-pad {
  padding-top: 0px;
}

.material-dialog-title {
  font-weight: bold;
  font-size: 20px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 12px;
  padding: 0px 24px 0px;
  position: relative;
  /* flexbox */
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.material-dialog-content {
  padding: 0px 24px;
  font-size: 14px;
  overflow: auto;
  position: relative;
  /* flexbox */
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  margin-bottom: 12px;
}

.material-dialog-content-no-pad {
  padding: 0px;
}

.material-dialog-actions {
  padding: 0px 24px;
  display: block;
  position: relative;
  text-align: right;
  /* flexbox */
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/* LINKS */
a {
  text-decoration: none;
}

/* COLORS */
.material-fg-indigo {
  color: #3f51b5;
}

.material-fg-teal {
  color: #009688;
}

.material-fg-pink {
  color: #e91e63;
}

a.material-fg-pink:hover {
  color: #ad1457;
}

.material-fg-yellow {
  color: #ffeb3b;
}

/* BG COLORS */
.material-bg-indigo {
  background-color: #3f51b5;
  color: #fff;
}

.material-bg-teal {
  background-color: #009688;
  color: #fff;
}

.material-bg-pink {
  background-color: #e91e63;
  color: #fff;
}

.material-bg-yellow {
  background-color: #ffeb3b;
  color: #000;
}

.material-bg-red {
  background-color: #f44336;
  color: #fff;
}

.material-floating-btn:hover.material-bg-red {
  background-color: #e53935 !important;
  transition: background-color 0.15s
}

.material-floating-btn:active.material-bg-red {
  background-color: #ef9a9a !important;
  transition: background-color 0.15s
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* NAME LIST */
.material-name-list {
  /*height: 100%;*/
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 0px 0px;
  text-align: left;
}

.material-name-list-separator {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding: 16px 0px 16px 16px;
  margin: 0px 0px 0px 0px;
}

.material-name-list-item {
  background-color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  padding: 16px 0px 16px 16px;
  display: table;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}

.material-name-list-item:last-child {
  border-bottom: none;
}

.material-name-list-item:hover {
  background-color: #e8eaf6;
}

.material-name-list-item.material-bg-teal {
  background-color: #fff;
  color: #000;
}

.material-name-list-item:hover.material-bg-teal {
  background-color: #e0f2f1;
  color: #000;
}

.material-name-list-item-second {
  padding-top: 4px;
  color: #7d7d7d;
  font-size: 16px;
}

.material-name-list-item-actions {
  display: table-cell;
  vertical-align: middle;
  width: 10px;
  padding-right: 12px;
  color: #7986cb;
  font-size: 24px !important;
  opacity: 0;
  -webkit-transition: opacity 0.3s, color 0.3s;
  transition: opacity 0.3s, color 0.3s;
  white-space: nowrap;
}

.material-name-list-item-action {
  padding: 4px;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.material-name-list-item-action:hover {
  opacity: 1;
}

.material-name-list-item:hover > .material-name-list-item-actions {
  opacity: 1;
}

.material-name-list-item.material-bg-teal .material-name-list-item-actions {
  color: #009688;
}

/* GAME EDITOR */
.game-editor {
  position: relative;
  /*height: calc(100vh - 108px);*/
  /*overflow: auto;*/
  padding: 0px;
  margin: 0px;
}

.game-editor-flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  z-index: 2;
  height: calc(100vh - 140px);
}

.game-editor-flex-col {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  margin: 0px 10px;
}

.game-editor-flex-col-container {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.game-editor-unassigned-tasks {
  background-color: #f5f5f5;
  height: 100%;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  margin: 0px 0px;
  text-align: center;
  -webkit-justify-content: flex-start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  overflow: auto;
  display: none;
}

.game-editor-unassigned-tasks > .game-editor-flex-col-item {
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.game-editor-unassigned-tasks-title {
  font-weight: 500;
  padding: 10px;
  font-size: 120%;
  border-bottom: 1px solid #bdbdbd;
}

.game-editor-flex-col-item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  /* card settings */
  width: 200px;
  background-color: #f5f5f5;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
  -webkit-transition: box-shadow 0.2s, background-color 0.2s, color 0.2s;
  transition: box-shadow 0.2s, background-color 0.2s, color 0.2s;
  padding: 10px;
  margin: 20px 10px;
  z-index: 2;
  position: relative;
}

.game-editor-flex-col-item:hover {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.game-editor-item-more {
  right: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  line-height: 24px !important;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.game-editor-flex-col-item:hover .game-editor-item-more {
  opacity: 1;
}

.game-editor-item-more:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.game-editor-item-active {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
  color: #fff !important;
  background-color: #2196f3 !important;
}

.game-editor-flex-col-item-title {
  font-weight: 500;
}

.game-editor-flex-col-item-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-editor-line-container {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1;
}

.game-editor-line {
  height: 6px;
  background-color: #212121;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
  position: absolute;
  transform-origin: 0% 50%;
  z-index: 1;
}

.game-editor-line:hover {
  background-color: #0d47a1;
  z-index: 2;
}

/* ARROWHEAD */
.game-editor-line::after {
  content: "";
  width: 31px;
  height: 31px;
  border-top: 6px solid #212121;
  border-right: 6px solid #212121;
  position: absolute;
  right: 6px;
  top: -7px;
  transform-origin: 100% 50%;
  transform: scaleY(0.5) rotate(45deg);
  -webkit-transition: border-color 0.2s, opacity 0.2s;
  transition: border-color 0.2s, opacity 0.2s;
  opacity: 1;
}

.game-editor-line:hover::after {
  border-color: #0d47a1;
}

/* killer*/
.game-editor-line-unlink {
  background-color: #510c0c;
}

.game-editor-line-unlink::after {
  border-color: #510c0c;
}

.game-editor-line-unlink:hover {
  background-color: #f44336;
}

.game-editor-line-unlink:hover::after {
  border-color: #f44336;
}

.game-editor-line:not([data-label=''])[data-label]::before {
  content: attr(data-label);
  top: -15px;
  position: absolute;
  font-size: 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  left: 0px;
  text-align: center;
}

.game-editor-line:not([data-label=''])[data-label]:hover::before {
  font-size: 14px;
  top: -16px;
  color: #0d47a1;
}

.material-popup-menu {
  position: absolute;
  margin: 0px;
  padding: 0px;
  min-width: 100px;
  overflow: auto;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  list-style: none;
  z-index: 13;
  transform: scaleY(0.9) translateY(-10px);
  transform-origin: 100% 0%;
}

.material-popup-menu-active {
  opacity: 1;
  transform: scaleY(1) translateY(0px);
}

.material-popup-menu > li {
  padding: 14px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1em;
  text-align: left
}

.material-popup-menu > li:hover {
  background-color: #f5f5f5;
}

/* NEW GAME EDITOR */
.game-editor-task {
  width: 200px;
  background-color: #f5f5f5;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
  -webkit-transition: box-shadow 0.2s, background-color 0.2s, color 0.2s, opacity 0.2s;
  transition: box-shadow 0.2s, background-color 0.2s, color 0.2s, opacity 0.2s;
  padding: 10px;
  /*margin: 20px 10px;*/
  z-index: 2;
  position: absolute;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.game-editor-task-droppable {
  box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2);
}

.game-editor-task-droppable-hover {
  background-color: #2196f3;
}

.game-editor-task-not-available-source, .game-editor-task-not-available-target {
  opacity: 0.4;
  background-color: #757575;
}

.game-editor-task.ui-draggable-dragging {
  cursor: move;
}

.game-editor-task:hover .game-editor-item-more {
  opacity: 1;
}

.game-editor-start {
  background-color: #4caf50;
  color: #fff;
}

.game-editor-end {
  background-color: #f44336;
  color: #fff;
}

.game-editor-toolbar-container {
  position: fixed;
  bottom: 20px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 20;
}

.game-editor-toolbar {
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  font-size: 24px;
}

.game-editor-toolbar-elem {
  color: #000;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
  padding: 6px;
}

.game-editor-toolbar-elem:hover {
  color: #3f51b5;
}

.game-editor-toolbar-elem[disabled] {
  color: #bdbdbd !important;
  cursor: default;
}

.game-editor-toolbar-elem:active {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #eeeeee;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.game-editor-toolbar-elem[selected] {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #eeeeee;
  color: #4caf50 !important;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

/* FORM */
.material-form {
  display: table;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.material-row {
  font-size: 16px;
  display: table-row;
  padding: 10px 0px;
  position: relative;
}

.material-row > * {
  display: table-cell;
  padding: 0px 10px 0px 0px;
}

.material-row-static > * {
  display: table-cell;
  padding: 10px 10px 10px 0px;
}

.material-row-header > * {
  display: table-cell;
  padding: 10px 10px 10px 0px;
  font-weight: bold;
}

.material-row > .fa:not([title=''])[title] {
  cursor: help;
}

.material-row > *.first {
  white-space: nowrap;
  font-weight: bold;
  width: 10px;
  padding-right: 20px;
  padding: 10px 20px 0px 10px;
  text-align: right;
}

.material-cell-small {
  width: 10px;
}

.material-form-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
}

.material-small-info-block {
  background-color: #eee;
  padding: 8px;
  border-radius: 12px;
  display: inline-block;
  margin: 0px 2px 2px 0px;
  color: #000;
}

.material-small-info-block-delete {
  text-transform: uppercase;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 4px;
  background-color: #e0e0e0;
  @include transition("background-color 0.25s");
}

.material-small-info-block-delete:hover {
  background-color: #ef9a9a;
}

/* TABS */
.material-tab-container {
  width: 100%;
  position: relative;
  clear: left;
  overflow: hidden;
  @include transition("all 0.25s");
}

.material-tab-container-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  overflow: visible;
}

.material-tab {
  padding: 10px 24px;
  position: relative;
  cursor: pointer;
  color: #666;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  float: left;
  @include transition("all 0.3s");
}

.material-tab-container-flex .material-tab {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  height: 40px;
}

.material-tab:hover {
  background-color: #eee;
}

.material-tab-active {
  color: #000;
}

.material-tab-disabled {
  color: #ccc !important;
  cursor: not-allowed;
}

.material-tab-disabled:hover {
  background-color: transparent !important;
}

.material-tab > span {
  padding: 0px 0px;
  position: relative;
  left: 0px;
  right: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  font-size: 13px;
  display: block;
  font-weight: 500;
}

.material-tab-container-flex .material-tab > span {
  position: absolute;
}

.material-tab-marker {
  background-color: #2196f3;
  height: 3px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  @include transition("all 0.5s cubic-bezier(0.45, 0, 0.15, 1) 0s");
}

.material-titlebar-tab-container {
  height: 0px;
  padding-left: 42px;
}

.material-titlebar-tab-container-active {
  height: 40px;
}

.material-bg-indigo .material-tab-active {
  color: #fff;
}

/* SLIDERS */
.material-slider-base {
  position: relative;
  background-color: rgba(0, 0, 0, 0.26);
  height: 2px;
  margin-top: 50px;
  margin-bottom: 16px;
  margin-right: 18px;
  margin-left: 18px;
  cursor: pointer;
  outline: none;
}

.material-slider-base:not([data-discrete="true"]) {
  margin-top: 16px;
}

.material-slider-base::before {
  height: 20px;
  top: -9px;
  position: absolute;
  width: 100%;
  content: "";
  display: inline-block;
}

.material-slider-handle {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #3f51b5;
  transition: width 0.3s;
}

.material-slider-base:active .material-slider-handle, .material-slider-handle:active {
  transition: none;
}

.material-slider-bubble {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #3f51b5;
  border-radius: 50%;
  top: -5px;
  right: -6px;
  cursor: pointer;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  transition: all 0.2s;
}

/* CONTINUOUS */
.material-slider-base:not([data-discrete="true"]) .material-slider-bubble[data-norm="0"] {
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.26);
}

.material-slider-base:not([data-discrete="true"]):active .material-slider-bubble,
.material-slider-base:not([data-discrete="true"]) .material-slider-bubble:active {
  width: 26px;
  height: 26px;
  top: -12px;
  right: -13px;
}

/* DISCRETE */
.material-slider-base[data-discrete="true"] .material-slider-bubble[data-norm="0"] {
  background-color: #000;
}

.material-slider-base[data-discrete="true"][data-tabbed]:focus .material-slider-bubble,
.material-slider-base[data-discrete="true"]:active .material-slider-bubble,
.material-slider-base[data-discrete="true"] .material-slider-bubble:active {
  position: absolute;
  display: inline-block;
  background-color: #3f51b5;
  width: 26px;
  height: 26px;
  border-radius: 50% 50% 0% 50%;
  top: -38px;
  right: -13px;
}

.material-slider-base[data-discrete="true"][data-tabbed]:focus .material-slider-bubble[data-norm="0"],
.material-slider-base[data-discrete="true"]:active .material-slider-bubble[data-norm="0"],
.material-slider-base[data-discrete="true"] .material-slider-bubble[data-norm="0"]:active {
  background-color: rgba(0, 0, 0, 0.26);
  border: 0px solid rgba(0, 0, 0, 0.26);
}

.material-slider-base[data-discrete="true"] .material-slider-bubble::before {
  position: absolute;
  display: inline-block;
  content: attr(data-value);
  color: #fff;
  font-size: 0px;
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  opacity: 0;
  width: 26px;
  line-height: 0px;
  text-align: center;
  left: 0px;
  top: 0px;
  transition: all 0.2s;
}

.material-slider-base[data-discrete="true"][data-tabbed]:focus .material-slider-bubble::before,
.material-slider-base[data-discrete="true"]:active .material-slider-bubble::before,
.material-slider-base[data-discrete="true"] .material-slider-bubble:active::before {
  line-height: 26px;
  font-size: 11px;
  opacity: 1;
  transition: opacity 0.2s, font-size 0.2s;
}

/* FOCUS RING */
.material-slider-base:not([data-discrete="true"]) .material-slider-bubble:not([data-norm="0"])::after {
  width: 32px;
  height: 32px;
  content: "";
  background-color: #3f51b5;
  opacity: 0.26;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -10px;
  left: -10px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.material-slider-base[data-tabbed]:not([data-discrete="true"]):focus .material-slider-bubble[data-norm="0"] {
  width: 16px;
  height: 16px;
  top: -7px;
  right: -8px;
}

.material-slider-base[data-tabbed]:not([data-discrete="true"]):focus .material-slider-bubble:not([data-norm="0"])::after {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-animation: material-rdchk-anim 1s ease 0.25s infinite alternate;
  animation: material-rdchk-anim 1s ease 0.25s infinite alternate;
}

/* DATEPICKER */

.material-datepicker {
  width: 540px;
  height: 244px;
  white-space: nowrap;
  font-size: 0px;
  clear: left;
  cursor: default;
}

.material-datepicker-review {
  width: 50%;
  height: 100%;
  background-color: #009688;
  text-align: center;
  float: left;
}

.material-datepicker-picker {
  width: 50%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  float: left;
  overflow: auto;
}

.material-datepicker-review[data-mode="date"] + .material-datepicker-picker {
  /*overflow: hidden;*/
  /* TEMPORARY */
}

/* LEFT */

.material-datepicker-r-dayname {
  height: 30px;
  background-color: #00796b;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
}

.material-datepicker-r-date {
  opacity: 1;
  transition: all 0.2s;
}

.material-datepicker-review[data-mode="year"] .material-datepicker-r-date {
  opacity: 0.6;
  cursor: pointer;
}

.material-datepicker-r-month {
  height: 78px;
  line-height: 78px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}

.material-datepicker-r-day {
  height: 64px;
  line-height: 64px;
  color: #fff;
  font-size: 85px;
}

.material-datepicker-r-year {
  height: 72px;
  line-height: 72px;
  color: #fff;
  font-size: 24px;
  opacity: 1;
  transition: all 0.2s;
}

.material-datepicker-review[data-mode="date"] .material-datepicker-r-year {
  opacity: 0.6;
  cursor: pointer;
}

/* RIGHT */

.material-datepicker-calendar {
  width: 100%;
  margin-bottom: 4px;
}

.material-datepicker-cal-title {
  height: 30px;
  color: rgba(0, 0, 0, .87);
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
}

.material-datepicker-cal-days-container {
  display: table;
  width: 100%;
}

.material-datepicker-cal-daynames {
  display: table-row;
  height: 30px;
}

.material-datepicker-cal-daynames > * {
  display: table-cell;
  font-size: 12px;
  line-height: 30px;
  font-weight: 600;
  width: 38px;
}

.material-datepicker-cal-day-row {
  display: table-row;
  height: 30px;
}

.material-datepicker-cal-day-row > * {
  display: table-cell;
  font-size: 12px;
  line-height: 30px;
  font-weight: normal;
  width: 38px;
  position: relative;
  cursor: pointer;
}

.material-datepicker-cal-day-row > *.selected {
  position: relative;
}

.material-datepicker-cal-day-row > *[data-day]::after {
  content: "";
  width: 32px;
  height: 32px;
  left: 3px;
  top: -1px;
  font-size: 12px;
  line-height: 32px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  background-color: rgba(0, 150, 136, 0);
  transition: all 0.2s;
  text-align: center;
}

.material-datepicker-cal-day-row > *[data-day]:not(.selected):hover::after {
  background-color: rgba(0, 150, 136, 0.3);
}

.material-datepicker-cal-day-row > *::before {
  content: attr(data-day);
  width: 32px;
  height: 32px;
  left: 3px;
  top: -1px;
  font-size: 12px;
  line-height: 32px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  color: #fff;
  background-color: rgba(0, 150, 136, 1);
  opacity: 0;
  transition: all 0.2s;
  transform: scale(0);
  transform-origin: 50% 50%;
  text-align: center;
}

.material-datepicker-cal-day-row > *.selected::before {
  content: attr(data-day);
  width: 32px;
  height: 32px;
  left: 3px;
  top: -1px;
  font-size: 12px;
  line-height: 32px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  color: #fff;
  background-color: rgba(0, 150, 136, 1);
  opacity: 1;
  transform: scale(1);
  transform-origin: 50% 50%;
}

/* YEAR SELECTOR */
.material-datepicker-cal-year {
  font-size: 14px;
  text-align: center;
  height: 80px;
  line-height: 80px;
  transition: all 0.2s;
  position: relative;
}

.material-datepicker-cal-year:hover {
  background-color: #f3f3f3;
}

.material-datepicker-cal-year:active {
  background-color: #e3e3e3;
}

.selected-year::before {
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  background-color: rgba(0, 150, 136, 0.3);
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

/* PROGRESS BAR */
.material-progress {
  background-color: rgba(33, 150, 243, .26);
  height: 5px;
  position: relative;
  transition: all 0.2s;
}

.material-progress-hidden {
  height: 0px;
}

.material-progress-value {
  background-color: rgba(33, 150, 243, 1);
  height: 100%;
  display: inline-block;
  position: absolute;
  transition: all 0.3s;
}

.material-progress-error {
  background-color: rgba(244, 67, 54, .26);
}

.material-progress-error > .material-progress-value {
  background-color: #f44336;
}

/* UPLOAD */
.material-drag-hover {
}

.material-drag-hover::after {
  width: 100%;
  height: 100%;
  content: "Drop here";
  padding: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
  margin: 0px;
  border: 4px dashed #666;
  background-color: white;
  display: inline-block;
}

.file-upload-row > .file-upload-actions {
  opacity: 0;
  @include transition("all 0.2s");
}

.file-upload-row:hover > .file-upload-actions {
  opacity: .7;
}

.file-upload-row:hover > .file-upload-actions:hover {
  opacity: 1;
}

.file-upload-actions > .md-icon-delete {
  cursor: pointer;
}

.md-icon-delete:hover {
  color: #f44336;
}

/* MISC */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}