@font-face {
	font-family: 'material-icons';
	src:url('../fonts/material-icons.eot?byx3ub');
	src:url('../fonts/material-icons.eot?#iefixbyx3ub') format('embedded-opentype'),
		url('../fonts/material-icons.woff?byx3ub') format('woff'),
		url('../fonts/material-icons.ttf?byx3ub') format('truetype'),
		url('../fonts/material-icons.svg?byx3ub#material-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.md-icon {
	font-family: 'material-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.md-icon-3d-rotation:before {
	content: "\e619";
}

.md-icon-accessibility:before {
	content: "\e61a";
}

.md-icon-account-balance:before {
	content: "\e61b";
}

.md-icon-account-balance-wallet:before {
	content: "\e61c";
}

.md-icon-account-box:before {
	content: "\e61d";
}

.md-icon-account-child:before {
	content: "\e61e";
}

.md-icon-account-circle:before {
	content: "\e61f";
}

.md-icon-add-shopping-cart:before {
	content: "\e620";
}

.md-icon-alarm:before {
	content: "\e600";
}

.md-icon-alarm-add:before {
	content: "\e601";
}

.md-icon-alarm-off:before {
	content: "\e602";
}

.md-icon-alarm-on:before {
	content: "\e603";
}

.md-icon-android:before {
	content: "\e621";
}

.md-icon-announcement:before {
	content: "\e622";
}

.md-icon-aspect-ratio:before {
	content: "\e623";
}

.md-icon-assessment:before {
	content: "\e624";
}

.md-icon-assignment:before {
	content: "\e625";
}

.md-icon-assignment-ind:before {
	content: "\e626";
}

.md-icon-assignment-late:before {
	content: "\e627";
}

.md-icon-assignment-return:before {
	content: "\e628";
}

.md-icon-assignment-returned:before {
	content: "\e629";
}

.md-icon-assignment-turned-in:before {
	content: "\e62a";
}

.md-icon-autorenew:before {
	content: "\e62b";
}

.md-icon-backup:before {
	content: "\e604";
}

.md-icon-book:before {
	content: "\e62c";
}

.md-icon-bookmark:before {
	content: "\e62d";
}

.md-icon-bookmark-outline:before {
	content: "\e62e";
}

.md-icon-bug-report:before {
	content: "\e62f";
}

.md-icon-cached:before {
	content: "\e630";
}

.md-icon-class:before {
	content: "\e631";
}

.md-icon-credit-card:before {
	content: "\e632";
}

.md-icon-dashboard:before {
	content: "\e633";
}

.md-icon-delete:before {
	content: "\e634";
}

.md-icon-description:before {
	content: "\e635";
}

.md-icon-dns:before {
	content: "\e636";
}

.md-icon-done:before {
	content: "\e605";
}

.md-icon-done-all:before {
	content: "\e637";
}

.md-icon-event:before {
	content: "\e638";
}

.md-icon-exit-to-app:before {
	content: "\e639";
}

.md-icon-explore:before {
	content: "\e63a";
}

.md-icon-extension:before {
	content: "\e63b";
}

.md-icon-face-unlock:before {
	content: "\e63c";
}

.md-icon-favorite:before {
	content: "\e63d";
}

.md-icon-favorite-outline:before {
	content: "\e63e";
}

.md-icon-find-in-page:before {
	content: "\e63f";
}

.md-icon-find-replace:before {
	content: "\e640";
}

.md-icon-flip-to-back:before {
	content: "\e641";
}

.md-icon-flip-to-front:before {
	content: "\e642";
}

.md-icon-get-app:before {
	content: "\e643";
}

.md-icon-grade:before {
	content: "\e644";
}

.md-icon-group-work:before {
	content: "\e60b";
}

.md-icon-help:before {
	content: "\e645";
}

.md-icon-highlight-remove:before {
	content: "\e646";
}

.md-icon-history:before {
	content: "\e647";
}

.md-icon-home:before {
	content: "\e648";
}

.md-icon-https:before {
	content: "\e649";
}

.md-icon-info:before {
	content: "\e64a";
}

.md-icon-info-outline:before {
	content: "\e64b";
}

.md-icon-input:before {
	content: "\e64c";
}

.md-icon-invert-colors:before {
	content: "\e64d";
}

.md-icon-label:before {
	content: "\e64e";
}

.md-icon-label-outline:before {
	content: "\e64f";
}

.md-icon-language:before {
	content: "\e650";
}

.md-icon-launch:before {
	content: "\e651";
}

.md-icon-list:before {
	content: "\e652";
}

.md-icon-lock:before {
	content: "\e653";
}

.md-icon-lock-open:before {
	content: "\e654";
}

.md-icon-lock-outline:before {
	content: "\e655";
}

.md-icon-loyalty:before {
	content: "\e656";
}

.md-icon-markunread-mailbox:before {
	content: "\e657";
}

.md-icon-note-add:before {
	content: "\e658";
}

.md-icon-open-in-browser:before {
	content: "\e659";
}

.md-icon-open-in-new:before {
	content: "\e65a";
}

.md-icon-open-with:before {
	content: "\e65b";
}

.md-icon-pageview:before {
	content: "\e65c";
}

.md-icon-payment:before {
	content: "\e65d";
}

.md-icon-perm-camera-m:before {
	content: "\e65e";
}

.md-icon-perm-contact-cal:before {
	content: "\e65f";
}

.md-icon-perm-data-setting:before {
	content: "\e660";
}

.md-icon-perm-device-info:before {
	content: "\e661";
}

.md-icon-perm-identity:before {
	content: "\e662";
}

.md-icon-perm-media:before {
	content: "\e663";
}

.md-icon-perm-phone-msg:before {
	content: "\e664";
}

.md-icon-perm-scan-wifi:before {
	content: "\e665";
}

.md-icon-picture-in-picture:before {
	content: "\e666";
}

.md-icon-polymer:before {
	content: "\e667";
}

.md-icon-print:before {
	content: "\e668";
}

.md-icon-query-builder:before {
	content: "\e669";
}

.md-icon-question-answer:before {
	content: "\e66a";
}

.md-icon-receipt:before {
	content: "\e60c";
}

.md-icon-redeem:before {
	content: "\e66b";
}

.md-icon-reorder:before {
	content: "\e66c";
}

.md-icon-report-problem:before {
	content: "\e66d";
}

.md-icon-restore:before {
	content: "\e66e";
}

.md-icon-room:before {
	content: "\e66f";
}

.md-icon-schedule:before {
	content: "\e670";
}

.md-icon-search:before {
	content: "\e671";
}

.md-icon-settings:before {
	content: "\e672";
}

.md-icon-settings-applications:before {
	content: "\e673";
}

.md-icon-settings-backup-restore:before {
	content: "\e674";
}

.md-icon-settings-bluetooth:before {
	content: "\e675";
}

.md-icon-settings-cell:before {
	content: "\e676";
}

.md-icon-settings-display:before {
	content: "\e677";
}

.md-icon-settings-ethernet:before {
	content: "\e678";
}

.md-icon-settings-input-antenna:before {
	content: "\e679";
}

.md-icon-settings-input-component:before {
	content: "\e67a";
}

.md-icon-settings-input-composite:before {
	content: "\e67b";
}

.md-icon-settings-input-hdmi:before {
	content: "\e67c";
}

.md-icon-settings-input-svideo:before {
	content: "\e67d";
}

.md-icon-settings-overscan:before {
	content: "\e67e";
}

.md-icon-settings-phone:before {
	content: "\e67f";
}

.md-icon-settings-power:before {
	content: "\e680";
}

.md-icon-settings-remote:before {
	content: "\e681";
}

.md-icon-settings-voice:before {
	content: "\e682";
}

.md-icon-shop:before {
	content: "\e683";
}

.md-icon-shop-two:before {
	content: "\e684";
}

.md-icon-shopping-basket:before {
	content: "\e685";
}

.md-icon-shopping-cart:before {
	content: "\e686";
}

.md-icon-speaker-notes:before {
	content: "\e687";
}

.md-icon-spellcheck:before {
	content: "\e688";
}

.md-icon-star-rate:before {
	content: "\e689";
}

.md-icon-stars:before {
	content: "\e68a";
}

.md-icon-store:before {
	content: "\e68b";
}

.md-icon-subject:before {
	content: "\e68c";
}

.md-icon-supervisor-account:before {
	content: "\e68d";
}

.md-icon-swap-horiz:before {
	content: "\e68e";
}

.md-icon-swap-vert:before {
	content: "\e68f";
}

.md-icon-swap-vert-circle:before {
	content: "\e690";
}

.md-icon-system-update-tv:before {
	content: "\e691";
}

.md-icon-tab:before {
	content: "\e692";
}

.md-icon-tab-unselected:before {
	content: "\e693";
}

.md-icon-theaters:before {
	content: "\e694";
}

.md-icon-thumb-down:before {
	content: "\e695";
}

.md-icon-thumb-up:before {
	content: "\e696";
}

.md-icon-thumbs-up-down:before {
	content: "\e697";
}

.md-icon-toc:before {
	content: "\e698";
}

.md-icon-today:before {
	content: "\e699";
}

.md-icon-track-changes:before {
	content: "\e69a";
}

.md-icon-translate:before {
	content: "\e69b";
}

.md-icon-trending-down:before {
	content: "\e69c";
}

.md-icon-trending-neutral:before {
	content: "\e69d";
}

.md-icon-trending-up:before {
	content: "\e69e";
}

.md-icon-turned-in:before {
	content: "\e69f";
}

.md-icon-turned-in-not:before {
	content: "\e6a0";
}

.md-icon-verified-user:before {
	content: "\e6a1";
}

.md-icon-view-agenda:before {
	content: "\e6a2";
}

.md-icon-view-array:before {
	content: "\e6a3";
}

.md-icon-view-carousel:before {
	content: "\e6a4";
}

.md-icon-view-column:before {
	content: "\e6a5";
}

.md-icon-view-day:before {
	content: "\e6a6";
}

.md-icon-view-headline:before {
	content: "\e6a7";
}

.md-icon-view-list:before {
	content: "\e6a8";
}

.md-icon-view-module:before {
	content: "\e6a9";
}

.md-icon-view-quilt:before {
	content: "\e6aa";
}

.md-icon-view-stream:before {
	content: "\e6ab";
}

.md-icon-view-week:before {
	content: "\e6ac";
}

.md-icon-visibility:before {
	content: "\e6ad";
}

.md-icon-visibility-off:before {
	content: "\e6ae";
}

.md-icon-wallet-giftcard:before {
	content: "\e6af";
}

.md-icon-wallet-membership:before {
	content: "\e6b0";
}

.md-icon-wallet-travel:before {
	content: "\e6b1";
}

.md-icon-work:before {
	content: "\e6b2";
}

.md-icon-error:before {
	content: "\e6b3";
}

.md-icon-warning:before {
	content: "\e606";
}

.md-icon-album:before {
	content: "\e6b4";
}

.md-icon-av-timer:before {
	content: "\e6b5";
}

.md-icon-closed-caption:before {
	content: "\e6b6";
}

.md-icon-equalizer:before {
	content: "\e6b7";
}

.md-icon-explicit:before {
	content: "\e6b8";
}

.md-icon-fast-forward:before {
	content: "\e6b9";
}

.md-icon-fast-rewind:before {
	content: "\e6ba";
}

.md-icon-games:before {
	content: "\e6bb";
}

.md-icon-hearing:before {
	content: "\e6bc";
}

.md-icon-high-quality:before {
	content: "\e6bd";
}

.md-icon-loop:before {
	content: "\e6be";
}

.md-icon-mic:before {
	content: "\e6bf";
}

.md-icon-mnone:before {
	content: "\e6c0";
}

.md-icon-moff:before {
	content: "\e6c1";
}

.md-icon-movie:before {
	content: "\e607";
}

.md-icon-my-library-add:before {
	content: "\e6c2";
}

.md-icon-my-library-books:before {
	content: "\e60a";
}

.md-icon-my-library-mus:before {
	content: "\e608";
}

.md-icon-new-releases:before {
	content: "\e6c3";
}

.md-icon-not-interested:before {
	content: "\e6c4";
}

.md-icon-pause:before {
	content: "\e6c5";
}

.md-icon-pause-circle-fill:before {
	content: "\e6c6";
}

.md-icon-pause-circle-outline:before {
	content: "\e6c7";
}

.md-icon-play-arrow:before {
	content: "\e6c8";
}

.md-icon-play-circle-fill:before {
	content: "\e6c9";
}

.md-icon-play-circle-outline:before {
	content: "\e6ca";
}

.md-icon-play-shopping-bag:before {
	content: "\e6cb";
}

.md-icon-playlist-add:before {
	content: "\e6cc";
}

.md-icon-queue:before {
	content: "\e6cd";
}

.md-icon-queue-mus:before {
	content: "\e60d";
}

.md-icon-radio:before {
	content: "\e6ce";
}

.md-icon-recent-actors:before {
	content: "\e6cf";
}

.md-icon-repeat:before {
	content: "\e6d0";
}

.md-icon-repeat-one:before {
	content: "\e6d1";
}

.md-icon-replay:before {
	content: "\e6d2";
}

.md-icon-shuffle:before {
	content: "\e6d3";
}

.md-icon-skip-next:before {
	content: "\e6d4";
}

.md-icon-skip-previous:before {
	content: "\e6d5";
}

.md-icon-snooze:before {
	content: "\e6d6";
}

.md-icon-stop:before {
	content: "\e6d7";
}

.md-icon-subtitles:before {
	content: "\e6d8";
}

.md-icon-surround-sound:before {
	content: "\e6d9";
}

.md-icon-video-collection:before {
	content: "\e6da";
}

.md-icon-videocam:before {
	content: "\e6db";
}

.md-icon-videocam-off:before {
	content: "\e6dc";
}

.md-icon-volume-down:before {
	content: "\e6dd";
}

.md-icon-volume-mute:before {
	content: "\e6de";
}

.md-icon-volume-off:before {
	content: "\e6df";
}

.md-icon-volume-up:before {
	content: "\e6e0";
}

.md-icon-web:before {
	content: "\e6e1";
}

.md-icon-business:before {
	content: "\e6e2";
}

.md-icon-call:before {
	content: "\e6e3";
}

.md-icon-call-end:before {
	content: "\e6e4";
}

.md-icon-call-made:before {
	content: "\e6e5";
}

.md-icon-call-merge:before {
	content: "\e6e6";
}

.md-icon-call-missed:before {
	content: "\e6e7";
}

.md-icon-call-received:before {
	content: "\e6e8";
}

.md-icon-call-split:before {
	content: "\e6e9";
}

.md-icon-chat:before {
	content: "\e6ea";
}

.md-icon-clear-all:before {
	content: "\e60e";
}

.md-icon-comment:before {
	content: "\e6eb";
}

.md-icon-contacts:before {
	content: "\e6ec";
}

.md-icon-dialer-sip:before {
	content: "\e6ed";
}

.md-icon-dialpad:before {
	content: "\e6ee";
}

.md-icon-dnd-on:before {
	content: "\e6ef";
}

.md-icon-email:before {
	content: "\e6f0";
}

.md-icon-forum:before {
	content: "\e6f1";
}

.md-icon-import-export:before {
	content: "\e6f2";
}

.md-icon-invert-colors-off:before {
	content: "\e6f3";
}

.md-icon-invert-colors-on:before {
	content: "\e6f4";
}

.md-icon-live-help:before {
	content: "\e6f5";
}

.md-icon-location-off:before {
	content: "\e6f6";
}

.md-icon-location-on:before {
	content: "\e6f7";
}

.md-icon-message:before {
	content: "\e6f8";
}

.md-icon-messenger:before {
	content: "\e6f9";
}

.md-icon-no-sim:before {
	content: "\e6fa";
}

.md-icon-phone:before {
	content: "\e6fb";
}

.md-icon-portable-wifi-off:before {
	content: "\e6fc";
}

.md-icon-quick-contacts-dialer:before {
	content: "\e6fd";
}

.md-icon-quick-contacts-mail:before {
	content: "\e6fe";
}

.md-icon-ring-volume:before {
	content: "\e6ff";
}

.md-icon-stay-current-landscape:before {
	content: "\e700";
}

.md-icon-stay-current-portrait:before {
	content: "\e701";
}

.md-icon-stay-primary-landscape:before {
	content: "\e702";
}

.md-icon-stay-primary-portrait:before {
	content: "\e703";
}

.md-icon-swap-calls:before {
	content: "\e704";
}

.md-icon-textsms:before {
	content: "\e705";
}

.md-icon-voicemail:before {
	content: "\e706";
}

.md-icon-vpn-key:before {
	content: "\e707";
}

.md-icon-add:before {
	content: "\e708";
}

.md-icon-add-box:before {
	content: "\e709";
}

.md-icon-add-circle:before {
	content: "\e70a";
}

.md-icon-add-circle-outline:before {
	content: "\e70b";
}

.md-icon-archive:before {
	content: "\e70c";
}

.md-icon-backspace:before {
	content: "\e70d";
}

.md-icon-block:before {
	content: "\e70e";
}

.md-icon-clear:before {
	content: "\e70f";
}

.md-icon-content-copy:before {
	content: "\e710";
}

.md-icon-content-cut:before {
	content: "\e711";
}

.md-icon-content-paste:before {
	content: "\e712";
}

.md-icon-create:before {
	content: "\e713";
}

.md-icon-drafts:before {
	content: "\e714";
}

.md-icon-filter-list:before {
	content: "\e715";
}

.md-icon-flag:before {
	content: "\e716";
}

.md-icon-forward:before {
	content: "\e717";
}

.md-icon-gesture:before {
	content: "\e718";
}

.md-icon-inbox:before {
	content: "\e719";
}

.md-icon-link:before {
	content: "\e609";
}

.md-icon-mail:before {
	content: "\e71a";
}

.md-icon-markunread:before {
	content: "\e71b";
}

.md-icon-redo:before {
	content: "\e71c";
}

.md-icon-remove:before {
	content: "\e71d";
}

.md-icon-remove-circle:before {
	content: "\e71e";
}

.md-icon-remove-circle-outline:before {
	content: "\e71f";
}

.md-icon-reply:before {
	content: "\e720";
}

.md-icon-reply-all:before {
	content: "\e721";
}

.md-icon-report:before {
	content: "\e722";
}

.md-icon-save:before {
	content: "\e723";
}

.md-icon-select-all:before {
	content: "\e724";
}

.md-icon-send:before {
	content: "\e725";
}

.md-icon-sort:before {
	content: "\e726";
}

.md-icon-text-format:before {
	content: "\e727";
}

.md-icon-undo:before {
	content: "\e728";
}

.md-icon-access-alarm:before {
	content: "\e729";
}

.md-icon-access-alarms:before {
	content: "\e72a";
}

.md-icon-access-time:before {
	content: "\e72b";
}

.md-icon-add-alarm:before {
	content: "\e72c";
}

.md-icon-airplanemode-off:before {
	content: "\e72d";
}

.md-icon-airplanemode-on:before {
	content: "\e72e";
}

.md-icon-battery-20:before {
	content: "\e72f";
}

.md-icon-battery-30:before {
	content: "\e730";
}

.md-icon-battery-50:before {
	content: "\e731";
}

.md-icon-battery-60:before {
	content: "\e732";
}

.md-icon-battery-80:before {
	content: "\e733";
}

.md-icon-battery-90:before {
	content: "\e734";
}

.md-icon-battery-alert:before {
	content: "\e735";
}

.md-icon-battery-charging-20:before {
	content: "\e736";
}

.md-icon-battery-charging-30:before {
	content: "\e737";
}

.md-icon-battery-charging-50:before {
	content: "\e738";
}

.md-icon-battery-charging-60:before {
	content: "\e739";
}

.md-icon-battery-charging-80:before {
	content: "\e73a";
}

.md-icon-battery-charging-90:before {
	content: "\e73b";
}

.md-icon-battery-charging-full:before {
	content: "\e73c";
}

.md-icon-battery-full:before {
	content: "\e73d";
}

.md-icon-battery-std:before {
	content: "\e73e";
}

.md-icon-battery-unknown:before {
	content: "\e73f";
}

.md-icon-bluetooth:before {
	content: "\e740";
}

.md-icon-bluetooth-connected:before {
	content: "\e741";
}

.md-icon-bluetooth-disabled:before {
	content: "\e742";
}

.md-icon-bluetooth-searching:before {
	content: "\e743";
}

.md-icon-brightness-auto:before {
	content: "\e744";
}

.md-icon-brightness-high:before {
	content: "\e745";
}

.md-icon-brightness-low:before {
	content: "\e746";
}

.md-icon-brightness-medium:before {
	content: "\e747";
}

.md-icon-data-usage:before {
	content: "\e748";
}

.md-icon-developer-mode:before {
	content: "\e749";
}

.md-icon-devices:before {
	content: "\e74a";
}

.md-icon-dvr:before {
	content: "\e74b";
}

.md-icon-gps-fixed:before {
	content: "\e74c";
}

.md-icon-gps-not-fixed:before {
	content: "\e74d";
}

.md-icon-gps-off:before {
	content: "\e74e";
}

.md-icon-location-disabled:before {
	content: "\e74f";
}

.md-icon-location-searching:before {
	content: "\e750";
}

.md-icon-multitrack-audio:before {
	content: "\e751";
}

.md-icon-network-cell:before {
	content: "\e752";
}

.md-icon-network-wifi:before {
	content: "\e753";
}

.md-icon-nfc:before {
	content: "\e754";
}

.md-icon-now-wallpaper:before {
	content: "\e755";
}

.md-icon-now-widgets:before {
	content: "\e756";
}

.md-icon-screen-lock-landscape:before {
	content: "\e757";
}

.md-icon-screen-lock-portrait:before {
	content: "\e758";
}

.md-icon-screen-lock-rotation:before {
	content: "\e759";
}

.md-icon-screen-rotation:before {
	content: "\e75a";
}

.md-icon-sd-storage:before {
	content: "\e75b";
}

.md-icon-settings-system-daydream:before {
	content: "\e60f";
}

.md-icon-signal-cellular-0-bar:before {
	content: "\e75c";
}

.md-icon-signal-cellular-1-bar:before {
	content: "\e75d";
}

.md-icon-signal-cellular-2-bar:before {
	content: "\e75e";
}

.md-icon-signal-cellular-3-bar:before {
	content: "\e75f";
}

.md-icon-signal-cellular-4-bar:before {
	content: "\e760";
}

.md-icon-signal-cellular-connected-no-internet-0-bar:before {
	content: "\e761";
}

.md-icon-signal-cellular-connected-no-internet-1-bar:before {
	content: "\e762";
}

.md-icon-signal-cellular-connected-no-internet-2-bar:before {
	content: "\e763";
}

.md-icon-signal-cellular-connected-no-internet-3-bar:before {
	content: "\e764";
}

.md-icon-signal-cellular-connected-no-internet-4-bar:before {
	content: "\e765";
}

.md-icon-signal-cellular-no-sim:before {
	content: "\e766";
}

.md-icon-signal-cellular-null:before {
	content: "\e767";
}

.md-icon-signal-cellular-off:before {
	content: "\e768";
}

.md-icon-signal-wifi-0-bar:before {
	content: "\e769";
}

.md-icon-signal-wifi-1-bar:before {
	content: "\e76a";
}

.md-icon-signal-wifi-2-bar:before {
	content: "\e76b";
}

.md-icon-signal-wifi-3-bar:before {
	content: "\e76c";
}

.md-icon-signal-wifi-4-bar:before {
	content: "\e76d";
}

.md-icon-signal-wifi-off:before {
	content: "\e76e";
}

.md-icon-signal-wifi-statusbar-1-bar:before {
	content: "\e76f";
}

.md-icon-signal-wifi-statusbar-2-bar:before {
	content: "\e770";
}

.md-icon-signal-wifi-statusbar-3-bar:before {
	content: "\e771";
}

.md-icon-signal-wifi-statusbar-4-bar:before {
	content: "\e772";
}

.md-icon-signal-wifi-statusbar-connected-no-internet-1:before {
	content: "\e773";
}

.md-icon-signal-wifi-statusbar-connected-no-internet-2:before {
	content: "\e774";
}

.md-icon-signal-wifi-statusbar-connected-no-internet-3:before {
	content: "\e775";
}

.md-icon-signal-wifi-statusbar-connected-no-internet-4:before {
	content: "\e776";
}

.md-icon-signal-wifi-statusbar-connected-no-internet:before {
	content: "\e777";
}

.md-icon-signal-wifi-statusbar-not-connected:before {
	content: "\e778";
}

.md-icon-signal-wifi-statusbar-null:before {
	content: "\e779";
}

.md-icon-storage:before {
	content: "\e77a";
}

.md-icon-usb:before {
	content: "\e77b";
}

.md-icon-wifi-lock:before {
	content: "\e77c";
}

.md-icon-wifi-tethering:before {
	content: "\e77d";
}

.md-icon-attach-file:before {
	content: "\e77e";
}

.md-icon-attach-money:before {
	content: "\e77f";
}

.md-icon-border-all:before {
	content: "\e780";
}

.md-icon-border-bottom:before {
	content: "\e781";
}

.md-icon-border-clear:before {
	content: "\e782";
}

.md-icon-border-color:before {
	content: "\e783";
}

.md-icon-border-horizontal:before {
	content: "\e784";
}

.md-icon-border-inner:before {
	content: "\e785";
}

.md-icon-border-left:before {
	content: "\e786";
}

.md-icon-border-outer:before {
	content: "\e787";
}

.md-icon-border-right:before {
	content: "\e788";
}

.md-icon-border-style:before {
	content: "\e789";
}

.md-icon-border-top:before {
	content: "\e78a";
}

.md-icon-border-vertical:before {
	content: "\e78b";
}

.md-icon-format-align-center:before {
	content: "\e610";
}

.md-icon-format-align-justify:before {
	content: "\e78c";
}

.md-icon-format-align-left:before {
	content: "\e78d";
}

.md-icon-format-align-right:before {
	content: "\e78e";
}

.md-icon-format-bold:before {
	content: "\e78f";
}

.md-icon-format-clear:before {
	content: "\e790";
}

.md-icon-format-color-fill:before {
	content: "\e791";
}

.md-icon-format-color-reset:before {
	content: "\e792";
}

.md-icon-format-color-text:before {
	content: "\e793";
}

.md-icon-format-indent-decrease:before {
	content: "\e794";
}

.md-icon-format-indent-increase:before {
	content: "\e795";
}

.md-icon-format-ital:before {
	content: "\e796";
}

.md-icon-format-line-spacing:before {
	content: "\e797";
}

.md-icon-format-list-bulleted:before {
	content: "\e798";
}

.md-icon-format-list-numbered:before {
	content: "\e799";
}

.md-icon-format-paint:before {
	content: "\e79a";
}

.md-icon-format-quote:before {
	content: "\e79b";
}

.md-icon-format-size:before {
	content: "\e79c";
}

.md-icon-format-strikethrough:before {
	content: "\e79d";
}

.md-icon-format-textdirection-l-to-r:before {
	content: "\e79e";
}

.md-icon-format-textdirection-r-to-l:before {
	content: "\e79f";
}

.md-icon-format-underline:before {
	content: "\e7a0";
}

.md-icon-functions:before {
	content: "\e7a1";
}

.md-icon-insert-chart:before {
	content: "\e7a2";
}

.md-icon-insert-comment:before {
	content: "\e7a3";
}

.md-icon-insert-drive-file:before {
	content: "\e7a4";
}

.md-icon-insert-emoticon:before {
	content: "\e7a5";
}

.md-icon-insert-invitation:before {
	content: "\e7a6";
}

.md-icon-insert-link:before {
	content: "\e611";
}

.md-icon-insert-photo:before {
	content: "\e612";
}

.md-icon-merge-type:before {
	content: "\e7a7";
}

.md-icon-mode-comment:before {
	content: "\e7a8";
}

.md-icon-mode-edit:before {
	content: "\e7a9";
}

.md-icon-publish:before {
	content: "\e7aa";
}

.md-icon-vertical-align-bottom:before {
	content: "\e7ab";
}

.md-icon-vertical-align-center:before {
	content: "\e7ac";
}

.md-icon-vertical-align-top:before {
	content: "\e7ad";
}

.md-icon-wrap-text:before {
	content: "\e7ae";
}

.md-icon-attachment:before {
	content: "\e7af";
}

.md-icon-cloud:before {
	content: "\e7b0";
}

.md-icon-cloud-circle:before {
	content: "\e7b1";
}

.md-icon-cloud-done:before {
	content: "\e7b2";
}

.md-icon-cloud-download:before {
	content: "\e7b3";
}

.md-icon-cloud-off:before {
	content: "\e7b4";
}

.md-icon-cloud-queue:before {
	content: "\e7b5";
}

.md-icon-cloud-upload:before {
	content: "\e613";
}

.md-icon-file-download:before {
	content: "\e7b6";
}

.md-icon-file-upload:before {
	content: "\e614";
}

.md-icon-folder:before {
	content: "\e7b7";
}

.md-icon-folder-open:before {
	content: "\e7b8";
}

.md-icon-folder-shared:before {
	content: "\e7b9";
}

.md-icon-cast:before {
	content: "\e7ba";
}

.md-icon-cast-connected:before {
	content: "\e7bb";
}

.md-icon-computer:before {
	content: "\e7bc";
}

.md-icon-desktop-mac:before {
	content: "\e7bd";
}

.md-icon-desktop-windows:before {
	content: "\e7be";
}

.md-icon-dock:before {
	content: "\e7bf";
}

.md-icon-gamepad:before {
	content: "\e7c0";
}

.md-icon-headset:before {
	content: "\e7c1";
}

.md-icon-headset-m:before {
	content: "\e7c2";
}

.md-icon-keyboard:before {
	content: "\e7c3";
}

.md-icon-keyboard-alt:before {
	content: "\e7c4";
}

.md-icon-keyboard-arrow-down:before {
	content: "\e7c5";
}

.md-icon-keyboard-arrow-left:before {
	content: "\e7c6";
}

.md-icon-keyboard-arrow-right:before {
	content: "\e7c7";
}

.md-icon-keyboard-arrow-up:before {
	content: "\e7c8";
}

.md-icon-keyboard-backspace:before {
	content: "\e7c9";
}

.md-icon-keyboard-capslock:before {
	content: "\e7ca";
}

.md-icon-keyboard-control:before {
	content: "\e7cb";
}

.md-icon-keyboard-hide:before {
	content: "\e7cc";
}

.md-icon-keyboard-return:before {
	content: "\e7cd";
}

.md-icon-keyboard-tab:before {
	content: "\e7ce";
}

.md-icon-keyboard-voice:before {
	content: "\e7cf";
}

.md-icon-laptop:before {
	content: "\e7d0";
}

.md-icon-laptop-chromebook:before {
	content: "\e7d1";
}

.md-icon-laptop-mac:before {
	content: "\e7d2";
}

.md-icon-laptop-windows:before {
	content: "\e7d3";
}

.md-icon-memory:before {
	content: "\e7d4";
}

.md-icon-mouse:before {
	content: "\e7d5";
}

.md-icon-phone-android:before {
	content: "\e7d6";
}

.md-icon-phone-iphone:before {
	content: "\e7d7";
}

.md-icon-phonelink:before {
	content: "\e7d8";
}

.md-icon-phonelink-off:before {
	content: "\e7d9";
}

.md-icon-security:before {
	content: "\e7da";
}

.md-icon-sim-card:before {
	content: "\e7db";
}

.md-icon-smartphone:before {
	content: "\e7dc";
}

.md-icon-speaker:before {
	content: "\e7dd";
}

.md-icon-tablet:before {
	content: "\e7de";
}

.md-icon-tablet-android:before {
	content: "\e7df";
}

.md-icon-tablet-mac:before {
	content: "\e7e0";
}

.md-icon-tv:before {
	content: "\e7e1";
}

.md-icon-watch:before {
	content: "\e7e2";
}

.md-icon-add-to-photos:before {
	content: "\e7e3";
}

.md-icon-adjust:before {
	content: "\e7e4";
}

.md-icon-assistant-photo:before {
	content: "\e7e5";
}

.md-icon-audiotrack:before {
	content: "\e615";
}

.md-icon-blur-circular:before {
	content: "\e7e6";
}

.md-icon-blur-linear:before {
	content: "\e7e7";
}

.md-icon-blur-off:before {
	content: "\e7e8";
}

.md-icon-blur-on:before {
	content: "\e7e9";
}

.md-icon-brightness-1:before {
	content: "\e7ea";
}

.md-icon-brightness-2:before {
	content: "\e7eb";
}

.md-icon-brightness-3:before {
	content: "\e7ec";
}

.md-icon-brightness-4:before {
	content: "\e7ed";
}

.md-icon-brightness-5:before {
	content: "\e7ee";
}

.md-icon-brightness-6:before {
	content: "\e7ef";
}

.md-icon-brightness-7:before {
	content: "\e7f0";
}

.md-icon-brush:before {
	content: "\e7f1";
}

.md-icon-camera:before {
	content: "\e7f2";
}

.md-icon-camera-alt:before {
	content: "\e7f3";
}

.md-icon-camera-front:before {
	content: "\e7f4";
}

.md-icon-camera-rear:before {
	content: "\e7f5";
}

.md-icon-camera-roll:before {
	content: "\e7f6";
}

.md-icon-center-focus-strong:before {
	content: "\e7f7";
}

.md-icon-center-focus-weak:before {
	content: "\e7f8";
}

.md-icon-collections:before {
	content: "\e7f9";
}

.md-icon-color-lens:before {
	content: "\e7fa";
}

.md-icon-colorize:before {
	content: "\e7fb";
}

.md-icon-compare:before {
	content: "\e7fc";
}

.md-icon-control-point:before {
	content: "\e7fd";
}

.md-icon-control-point-duplicate:before {
	content: "\e7fe";
}

.md-icon-crop-3-2:before {
	content: "\e7ff";
}

.md-icon-crop-5-4:before {
	content: "\e800";
}

.md-icon-crop-7-5:before {
	content: "\e801";
}

.md-icon-crop-16-9:before {
	content: "\e802";
}

.md-icon-crop:before {
	content: "\e803";
}

.md-icon-crop-din:before {
	content: "\e804";
}

.md-icon-crop-free:before {
	content: "\e805";
}

.md-icon-crop-landscape:before {
	content: "\e806";
}

.md-icon-crop-original:before {
	content: "\e807";
}

.md-icon-crop-portrait:before {
	content: "\e808";
}

.md-icon-crop-square:before {
	content: "\e809";
}

.md-icon-dehaze:before {
	content: "\e80a";
}

.md-icon-details:before {
	content: "\e80b";
}

.md-icon-edit:before {
	content: "\e80c";
}

.md-icon-exposure:before {
	content: "\e80d";
}

.md-icon-exposure-minus-1:before {
	content: "\e80e";
}

.md-icon-exposure-minus-2:before {
	content: "\e80f";
}

.md-icon-exposure-plus-1:before {
	content: "\e810";
}

.md-icon-exposure-plus-2:before {
	content: "\e811";
}

.md-icon-exposure-zero:before {
	content: "\e812";
}

.md-icon-filter-1:before {
	content: "\e813";
}

.md-icon-filter-2:before {
	content: "\e814";
}

.md-icon-filter-3:before {
	content: "\e815";
}

.md-icon-filter-4:before {
	content: "\e816";
}

.md-icon-filter-5:before {
	content: "\e817";
}

.md-icon-filter-6:before {
	content: "\e818";
}

.md-icon-filter-7:before {
	content: "\e819";
}

.md-icon-filter-8:before {
	content: "\e81a";
}

.md-icon-filter-9:before {
	content: "\e81b";
}

.md-icon-filter-9-plus:before {
	content: "\e81c";
}

.md-icon-filter:before {
	content: "\e81d";
}

.md-icon-filter-b-and-w:before {
	content: "\e81e";
}

.md-icon-filter-center-focus:before {
	content: "\e81f";
}

.md-icon-filter-drama:before {
	content: "\e820";
}

.md-icon-filter-frames:before {
	content: "\e821";
}

.md-icon-filter-hdr:before {
	content: "\e822";
}

.md-icon-filter-none:before {
	content: "\e823";
}

.md-icon-filter-tilt-shift:before {
	content: "\e824";
}

.md-icon-filter-vintage:before {
	content: "\e825";
}

.md-icon-flare:before {
	content: "\e826";
}

.md-icon-flash-auto:before {
	content: "\e827";
}

.md-icon-flash-off:before {
	content: "\e828";
}

.md-icon-flash-on:before {
	content: "\e829";
}

.md-icon-flip:before {
	content: "\e82a";
}

.md-icon-gradient:before {
	content: "\e82b";
}

.md-icon-grain:before {
	content: "\e82c";
}

.md-icon-grid-off:before {
	content: "\e82d";
}

.md-icon-grid-on:before {
	content: "\e82e";
}

.md-icon-hdr-off:before {
	content: "\e82f";
}

.md-icon-hdr-on:before {
	content: "\e830";
}

.md-icon-hdr-strong:before {
	content: "\e831";
}

.md-icon-hdr-weak:before {
	content: "\e832";
}

.md-icon-healing:before {
	content: "\e833";
}

.md-icon-image:before {
	content: "\e616";
}

.md-icon-image-aspect-ratio:before {
	content: "\e834";
}

.md-icon-iso:before {
	content: "\e835";
}

.md-icon-landscape:before {
	content: "\e836";
}

.md-icon-leak-add:before {
	content: "\e837";
}

.md-icon-leak-remove:before {
	content: "\e838";
}

.md-icon-lens:before {
	content: "\e839";
}

.md-icon-looks-3:before {
	content: "\e83a";
}

.md-icon-looks-4:before {
	content: "\e83b";
}

.md-icon-looks-5:before {
	content: "\e83c";
}

.md-icon-looks-6:before {
	content: "\e83d";
}

.md-icon-looks:before {
	content: "\e83e";
}

.md-icon-looks-one:before {
	content: "\e83f";
}

.md-icon-looks-two:before {
	content: "\e840";
}

.md-icon-loupe:before {
	content: "\e841";
}

.md-icon-movie-creation:before {
	content: "\e842";
}

.md-icon-nature:before {
	content: "\e843";
}

.md-icon-nature-people:before {
	content: "\e844";
}

.md-icon-navigate-before:before {
	content: "\e845";
}

.md-icon-navigate-next:before {
	content: "\e846";
}

.md-icon-palette:before {
	content: "\e847";
}

.md-icon-panorama:before {
	content: "\e848";
}

.md-icon-panorama-fisheye:before {
	content: "\e849";
}

.md-icon-panorama-horizontal:before {
	content: "\e84a";
}

.md-icon-panorama-vertical:before {
	content: "\e84b";
}

.md-icon-panorama-wide-angle:before {
	content: "\e84c";
}

.md-icon-photo:before {
	content: "\e617";
}

.md-icon-photo-album:before {
	content: "\e84d";
}

.md-icon-photo-camera:before {
	content: "\e84e";
}

.md-icon-photo-library:before {
	content: "\e84f";
}

.md-icon-portrait:before {
	content: "\e850";
}

.md-icon-remove-red-eye:before {
	content: "\e851";
}

.md-icon-rotate-left:before {
	content: "\e852";
}

.md-icon-rotate-right:before {
	content: "\e853";
}

.md-icon-slideshow:before {
	content: "\e854";
}

.md-icon-straighten:before {
	content: "\e855";
}

.md-icon-style:before {
	content: "\e856";
}

.md-icon-switch-camera:before {
	content: "\e857";
}

.md-icon-switch-video:before {
	content: "\e858";
}

.md-icon-tag-faces:before {
	content: "\e859";
}

.md-icon-texture:before {
	content: "\e85a";
}

.md-icon-timelapse:before {
	content: "\e85b";
}

.md-icon-timer-3:before {
	content: "\e85c";
}

.md-icon-timer-10:before {
	content: "\e85d";
}

.md-icon-timer:before {
	content: "\e85e";
}

.md-icon-timer-auto:before {
	content: "\e85f";
}

.md-icon-timer-off:before {
	content: "\e860";
}

.md-icon-tonality:before {
	content: "\e861";
}

.md-icon-transform:before {
	content: "\e862";
}

.md-icon-tune:before {
	content: "\e863";
}

.md-icon-wb-auto:before {
	content: "\e864";
}

.md-icon-wb-cloudy:before {
	content: "\e865";
}

.md-icon-wb-incandescent:before {
	content: "\e866";
}

.md-icon-wb-irradescent:before {
	content: "\e867";
}

.md-icon-wb-sunny:before {
	content: "\e868";
}

.md-icon-beenhere:before {
	content: "\e869";
}

.md-icon-directions:before {
	content: "\e86a";
}

.md-icon-directions-bike:before {
	content: "\e86b";
}

.md-icon-directions-bus:before {
	content: "\e86c";
}

.md-icon-directions-car:before {
	content: "\e86d";
}

.md-icon-directions-ferry:before {
	content: "\e86e";
}

.md-icon-directions-subway:before {
	content: "\e86f";
}

.md-icon-directions-train:before {
	content: "\e870";
}

.md-icon-directions-transit:before {
	content: "\e871";
}

.md-icon-directions-walk:before {
	content: "\e872";
}

.md-icon-flight:before {
	content: "\e873";
}

.md-icon-hotel:before {
	content: "\e874";
}

.md-icon-layers:before {
	content: "\e875";
}

.md-icon-layers-clear:before {
	content: "\e876";
}

.md-icon-local-airport:before {
	content: "\e877";
}

.md-icon-local-atm:before {
	content: "\e878";
}

.md-icon-local-attraction:before {
	content: "\e879";
}

.md-icon-local-bar:before {
	content: "\e87a";
}

.md-icon-local-cafe:before {
	content: "\e87b";
}

.md-icon-local-car-wash:before {
	content: "\e87c";
}

.md-icon-local-convenience-store:before {
	content: "\e87d";
}

.md-icon-local-drink:before {
	content: "\e87e";
}

.md-icon-local-florist:before {
	content: "\e87f";
}

.md-icon-local-gas-station:before {
	content: "\e880";
}

.md-icon-local-grocery-store:before {
	content: "\e881";
}

.md-icon-local-hospital:before {
	content: "\e882";
}

.md-icon-local-hotel:before {
	content: "\e883";
}

.md-icon-local-laundry-service:before {
	content: "\e884";
}

.md-icon-local-library:before {
	content: "\e885";
}

.md-icon-local-mall:before {
	content: "\e886";
}

.md-icon-local-movies:before {
	content: "\e887";
}

.md-icon-local-offer:before {
	content: "\e888";
}

.md-icon-local-parking:before {
	content: "\e889";
}

.md-icon-local-pharmacy:before {
	content: "\e88a";
}

.md-icon-local-phone:before {
	content: "\e88b";
}

.md-icon-local-pizza:before {
	content: "\e88c";
}

.md-icon-local-play:before {
	content: "\e88d";
}

.md-icon-local-post-office:before {
	content: "\e88e";
}

.md-icon-local-print-shop:before {
	content: "\e88f";
}

.md-icon-local-restaurant:before {
	content: "\e890";
}

.md-icon-local-see:before {
	content: "\e891";
}

.md-icon-local-shipping:before {
	content: "\e892";
}

.md-icon-local-taxi:before {
	content: "\e893";
}

.md-icon-location-history:before {
	content: "\e894";
}

.md-icon-map:before {
	content: "\e895";
}

.md-icon-my-location:before {
	content: "\e896";
}

.md-icon-navigation:before {
	content: "\e897";
}

.md-icon-pin-drop:before {
	content: "\e898";
}

.md-icon-place:before {
	content: "\e899";
}

.md-icon-rate-review:before {
	content: "\e89a";
}

.md-icon-restaurant-menu:before {
	content: "\e89b";
}

.md-icon-satellite:before {
	content: "\e89c";
}

.md-icon-store-mall-directory:before {
	content: "\e89d";
}

.md-icon-terrain:before {
	content: "\e89e";
}

.md-icon-traff:before {
	content: "\e89f";
}

.md-icon-apps:before {
	content: "\e8a0";
}

.md-icon-arrow-back:before {
	content: "\e8a1";
}

.md-icon-arrow-drop-down:before {
	content: "\e8a2";
}

.md-icon-arrow-drop-down-circle:before {
	content: "\e8a3";
}

.md-icon-arrow-drop-up:before {
	content: "\e8a4";
}

.md-icon-arrow-forward:before {
	content: "\e8a5";
}

.md-icon-cancel:before {
	content: "\e8a6";
}

.md-icon-check:before {
	content: "\e618";
}

.md-icon-chevron-left:before {
	content: "\e8a7";
}

.md-icon-chevron-right:before {
	content: "\e8a8";
}

.md-icon-close:before {
	content: "\e8a9";
}

.md-icon-expand-less:before {
	content: "\e8aa";
}

.md-icon-expand-more:before {
	content: "\e8ab";
}

.md-icon-fullscreen:before {
	content: "\e8ac";
}

.md-icon-fullscreen-exit:before {
	content: "\e8ad";
}

.md-icon-menu:before {
	content: "\e8ae";
}

.md-icon-more-horiz:before {
	content: "\e8af";
}

.md-icon-more-vert:before {
	content: "\e8b0";
}

.md-icon-refresh:before {
	content: "\e8b1";
}

.md-icon-unfold-less:before {
	content: "\e8b2";
}

.md-icon-unfold-more:before {
	content: "\e8b3";
}

.md-icon-adb:before {
	content: "\e8b4";
}

.md-icon-bluetooth-audio:before {
	content: "\e8b5";
}

.md-icon-disc-full:before {
	content: "\e8b6";
}

.md-icon-dnd-forwardslash:before {
	content: "\e8b7";
}

.md-icon-do-not-disturb:before {
	content: "\e8b8";
}

.md-icon-drive-eta:before {
	content: "\e8b9";
}

.md-icon-event-available:before {
	content: "\e8ba";
}

.md-icon-event-busy:before {
	content: "\e8bb";
}

.md-icon-event-note:before {
	content: "\e8bc";
}

.md-icon-folder-special:before {
	content: "\e8bd";
}

.md-icon-mms:before {
	content: "\e8be";
}

.md-icon-more:before {
	content: "\e8bf";
}

.md-icon-network-locked:before {
	content: "\e8c0";
}

.md-icon-phone-bluetooth-speaker:before {
	content: "\e8c1";
}

.md-icon-phone-forwarded:before {
	content: "\e8c2";
}

.md-icon-phone-in-talk:before {
	content: "\e8c3";
}

.md-icon-phone-locked:before {
	content: "\e8c4";
}

.md-icon-phone-missed:before {
	content: "\e8c5";
}

.md-icon-phone-paused:before {
	content: "\e8c6";
}

.md-icon-play-download:before {
	content: "\e8c7";
}

.md-icon-play-install:before {
	content: "\e8c8";
}

.md-icon-sd-card:before {
	content: "\e8c9";
}

.md-icon-sim-card-alert:before {
	content: "\e8ca";
}

.md-icon-sms:before {
	content: "\e8cb";
}

.md-icon-sms-failed:before {
	content: "\e8cc";
}

.md-icon-sync:before {
	content: "\e8cd";
}

.md-icon-sync-disabled:before {
	content: "\e8ce";
}

.md-icon-sync-problem:before {
	content: "\e8cf";
}

.md-icon-system-update:before {
	content: "\e8d0";
}

.md-icon-tap-and-play:before {
	content: "\e8d1";
}

.md-icon-time-to-leave:before {
	content: "\e8d2";
}

.md-icon-vibration:before {
	content: "\e8d3";
}

.md-icon-voice-chat:before {
	content: "\e8d4";
}

.md-icon-vpn-lock:before {
	content: "\e8d5";
}

.md-icon-cake:before {
	content: "\e8d6";
}

.md-icon-domain:before {
	content: "\e8d7";
}

.md-icon-group:before {
	content: "\e8d8";
}

.md-icon-group-add:before {
	content: "\e8d9";
}

.md-icon-location-city:before {
	content: "\e8da";
}

.md-icon-mood:before {
	content: "\e8db";
}

.md-icon-notifications:before {
	content: "\e8dc";
}

.md-icon-notifications-none:before {
	content: "\e8dd";
}

.md-icon-notifications-off:before {
	content: "\e8de";
}

.md-icon-notifications-on:before {
	content: "\e8df";
}

.md-icon-notifications-paused:before {
	content: "\e8e0";
}

.md-icon-pages:before {
	content: "\e8e1";
}

.md-icon-party-mode:before {
	content: "\e8e2";
}

.md-icon-people:before {
	content: "\e8e3";
}

.md-icon-people-outline:before {
	content: "\e8e4";
}

.md-icon-person:before {
	content: "\e8e5";
}

.md-icon-person-add:before {
	content: "\e8e6";
}

.md-icon-person-outline:before {
	content: "\e8e7";
}

.md-icon-plus-one:before {
	content: "\e8e8";
}

.md-icon-poll:before {
	content: "\e8e9";
}

.md-icon-publ:before {
	content: "\e8ea";
}

.md-icon-school:before {
	content: "\e8eb";
}

.md-icon-share:before {
	content: "\e8ec";
}

.md-icon-whatshot:before {
	content: "\e8ed";
}

.md-icon-check-box:before {
	content: "\e8ee";
}

.md-icon-check-box-outline-blank:before {
	content: "\e8ef";
}

.md-icon-radio-button-off:before {
	content: "\e8f0";
}

.md-icon-radio-button-on:before {
	content: "\e8f1";
}

.md-icon-star:before {
	content: "\e8f2";
}

.md-icon-star-half:before {
	content: "\e8f3";
}

.md-icon-star-outline:before {
	content: "\e8f4";
}

