<div>Ez egy dinamikus oldal! Juhéj!</div><br>
<input type="text" title="Bevitel" sc-model="data.input" placeholder="Floating test" /><br>
<input type="text" title="Bevitel 2" sc-model="data.input" /><br>
<input type="checkbox" title="Bevitel 3" sc-model="data.input" value="turned" sc-disabled="data.input == 3" />
<fieldset>
    <input type="radio" sc-model="data.input" name="valami" value="1" >
    <input type="radio" sc-model="data.input" name="valami" value="2" >
    <input type="radio" sc-model="data.input" name="valami" value="3" >
</fieldset>
<textarea sc-model="data.input"></textarea>
<span sc-model="data.input"></span>
<div sc-model="data.input" contenteditable="true" style="border: 1px solid red; min-height: 1em; min-width: 2em;"></div>
<select sc-model="data.input">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select>